@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --white: #F8F8F8;
  --grey: #F4F6F0;
  --Inter: #898989;
  --Oscuro: #2B2B2B;
  --Red : rgb(202, 10, 10);
  --Black : #212121;
}

body{
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100vh;
}
