.Container__Create{
    min-height: 84.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.Create__Img{
    background-color: red;
    width: 40%;
    height: 38rem;
    object-fit: cover;
}

.Form__h2{
    padding-bottom: 2rem;
    color: var(--Oscuro);
}

.Form__Create{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    height: 38rem;
    background-color: var(--Oscuro);
    padding: 2rem 4rem;
    color: var(--white);   
    justify-content: center;
}

.Form__Label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Label__Height{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.Form__Input--Height{
    width: 50%;
    font-family: 'Inter', sans-serif;
}

.Form__Input{
    width: 100%;
    padding: .3rem;
    font-family: 'Inter', sans-serif;
}

.cls{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.Form__submit{
    width: 30%;
    margin: auto;
    padding: .5rem ;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}