.Container__Search{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.Input__Search{
    padding: .3rem .8rem;
    margin: 0;
    border: none;
    border-radius: .5rem;
    width: 15rem;
    font-family: 'Inter', sans-serif;
}

.button__search{
    padding: .2rem .5rem;
    display: flex;
    flex-direction: row-reverse;
    gap: .5rem;
    align-items: center;
    background-color: var(--Black);
    color: var(--white);
    padding: .4rem 1.6rem;
    border-radius: .4rem;
    border: none;
    border: 1px solid var(--white);
    font-size: .9rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.button__search:hover{
    background-color: var(--white);
    color:var(--Black)
}

@media screen and (max-width:600px) {

    .Container__Search{
        gap: .5rem;
    }

    .Input__Search{
        width: 10rem;
    }

    .button__search{
        width: 5rem;
        align-items: center;
        justify-content: center;
    }
}