.Container{
    min-height: 83.9vh;
    display: flex;
    flex-direction: column;
    background-color:var(--grey);
}

.Container__Cards{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.Cards__Cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:500px) {
    .Container__Cards{
        flex-direction: column;
    }
}
